<div align="center  ">
  <h1> Ubicación</h1>
  </div>
  <div>
    <img src="assets/img/mapa.PNG" class="img-fluid" alt="...">
</div>
<div class="card-group">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title"><img src="assets/img/direccion.png" alt="" width="32">Dirección  </h5>
      <p class="card-text">No.138 Loc. 4, Plaza Cesar. Col. Centro, Ciudad de México, C.P. 06000</p>
      
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title"><img src="assets/img/llamada-telefonica.png" alt="" width="32">Teléfono</h5>
      <p class="card-text">2712110047</p>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title"><img src="assets/img/email.png" alt="" width="32">Email</h5>
      <p class="card-text">Contacto@gmail.com</p>
    </div>
  </div>
</div>