<div>
    <h1 class="display-6">
    <small class="text-muted">Acerca de</small>
  Mi Jugueteria
</h1>
<div class="card mb-3" style="max-width: 1500px;" align="center">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="assets/img/Imagen1.jpg" class="img-fluid rounded-start">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Misión</h5>
          <p class="card-text">Hacer sonreír a los niños y padres, ofreciendo un servicio de alta calidad para satisfacer a todos nuestros clientes, siendo una empresa comprometida, eficiente y responsable.</p>      
        </div>
      </div>
    </div>
  </div>
  <div class="card mb-3" style="max-width: 1500px;" align="center">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="assets/img/Imagen3.jpg" class="img-fluid rounded-">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Visión</h5>
          <p class="card-text">Incrementar constantemente nuestra participación en el mercado juguetero para ser una empresa líder, apoyándonos en el talento y desarrollo 
              de nuestro personal, para darle un mayor valor económico a la empresa.</p>      
        </div>
      </div>
    </div>
  </div>
  <div class="card mb-3" style="max-width: 1500px;" align="center">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="assets/img/Imagen4.jpg" class="img-fluid rounded-">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Valores</h5>
          <p class="card-text">COMPROMISO de los principios y valores que rigen nuestras acciones diarias: HONESTIDAD, LEALTAD, RESPETO, RESPONSABILIDAD Y ESFUERZO.</p>      
        </div>
      </div>
    </div>
  </div>
  