<div>
    <h1 class="display-6">
    <small class="text-muted">Acerca de</small>
  Mi Jugueteria
</h1>
</div>
<div class="card mb-3" style="max-width: 800px;" align="center">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="assets/img/Imagen1.jpg" class="img-fluid rounded-start">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Misión</h5>
          <p class="card-text"></p>      
        </div>
      </div>
    </div>
  </div>
  <div class="card mb-3" style="max-width: 800px;" align="center">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="assets/img/Imagen3.jpg" class="img-fluid rounded-">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Visión</h5>
          <p class="card-text"></p>      
        </div>
      </div>
    </div>
  </div>
  <div class="card mb-3" style="max-width: 800px;" align="center">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="assets/img/Imagen4.jpg" class="img-fluid rounded-">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Valores</h5>
          <p class="card-text"></p>      
        </div>
      </div>
    </div>
  </div>
  
