<div>
    <h1 class="display-6">
    <small class="text-muted">Acerca de</small>
  Mi Jugueteria
</h1>
<div class="card mb-3" style="max-width: 1500px;" align="center">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="assets/img/Imagen1.jpg" class="img-fluid rounded-start">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Misión</h5>
          <p class="card-text">Ofrecer a nuestros clientes el mejor precio, calidad, suficiente abastecimiento y un buen servicio. Tambien artículos de calidad para niños, niñas y jóvenes que desarrollen su imaginación, contribuyan con su aprendizaje y desarrollen sus preferencias y habilidades a futuro</p>      
        </div>
      </div>
    </div>
  </div>
  <div class="card mb-3" style="max-width: 1500px;" align="center">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="assets/img/Imagen3.jpg" class="img-fluid rounded-">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Visión</h5>
          <p class="card-text">Ser reconocido a nivel nacional como proveedor y líder en la industria del juguete.</p>      
        </div>
      </div>
    </div>
  </div>
  <div class="card mb-3" style="max-width: 1500px;" align="center">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="assets/img/Imagen4.jpg" class="img-fluid rounded-">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Valores</h5>
          <p class="card-text">Honestidad, Servicio, Responsabilidad y Respeto.</p>      
        </div>
      </div>
    </div>
  </div>
  