<div div id="carouselExampleInterval" class="carousel slide carousel-fade" data-ride="carousel" >

    <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">

      <div class="carousel-inner "> 
        <div class="carousel-item active" data-interval="2000">
          <img src="" class="d-block w-100">
          <div class="carousel-caption d-none d-md-block d-flex">
            
            <hr style="width: 10rem; height: 0.05rem;" color="white"> 
            <h1 class="font-weight-bold fuentetexto">JUGUETERÍA</h1>
                <p class="text-center font-italic fuenteparrafo">¡Creando sonrisas!</p>
                <button type="button" class="btn btn-outline-light btn-lg" [routerLink]="['/quienes-somos']">Leer más</button>
                <p class="card-text banner"></p> <!-- esto es una card vacía solo para poder centrar el título en el carrusel  -->
            
          </div>
        </div>


        <div class="carousel-item" data-interval="2000">
          <img src="" class="d-block w-100">
          <div class="carousel-caption d-none d-md-block">
            <hr style="width: 10rem; height: 0.05rem;" color="white">
          </div>
        </div>

        <div class="carousel-item" data-interval="2000">
          <img src="" class="d-block w-100">
          <div class="carousel-caption d-none d-md-block">
            <hr style="width: 10rem; height: 0.05rem;" color="white">
          </div>
        </div>
    </div>
  </div>