<br>
<div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
    
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="assets/img/Juguete.jpg" class="d-block w-100">
            <div class="carousel-caption d-none d-md-block d-flex">
             
                <h1 class="font-weight-bold fuentetexto">JUGUETERÍA</h1>
                <p class="text-center font-italic fuenteparrafo">¡Creando sonrisas!</p>
                <button type="button" class="btn btn-outline-light btn-lg" [routerLink]="['/quienes-somos']">Leer más</button>
                <p class="card-text banner"></p>
    
            </div>
        </div>

        <div class="carousel-item">
            <img src="assets/img/Juguete2.jpg" class="d-block w-100">
            <div class="carousel-caption d-none d-md-block d-flex">
 
                <h1 class="font-weight-bold fuentetexto">JUGUETERÍA</h1>
                <p class="text-center font-italic fuenteparrafo">¡Creando sonrisas!</p>
                <button type="button" class="btn btn-outline-light btn-lg" [routerLink]="['/quienes-somos']">Leer más</button>
                <p class="card-text banner"></p> 
    
            </div>
        </div>

        <div class="carousel-item">
            <img src="assets/img/juguetesDisney.jpg" class="d-block w-100">
            <div class="carousel-caption d-none d-md-block d-flex">
            
                <h1 class="font-weight-bold fuentetexto">JUGUETERÍA</h1>
                <p class="text-center font-italic fuenteparrafo">¡Creando sonrisas!</p>
                <button type="button" class="btn btn-outline-light btn-lg" [routerLink]="['/quienes-somos']">Leer más</button>
                <p class="card-text banner"></p>
    
            </div>
        </div>

    </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>

    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>

</div>
