.carousel-inner img {
    max-width: 2000px;
    max-height: 1000px;
}

.banner {
    height: 120px;
    
    align-items: center;
    text-align: center;
}

/* titulo jugueteria */
.fuentetexto {
    font-family: Arial;
    font-size: 70px;
}

/* texto  */
.fuenteparrafo {
    font-family: Arial;
    font-size: 20px;
}

.opacity{
    opacity: 0.5;
} 

